@model IEnumerable<BullshitTracker.Models.PeriodBudgetVsActual>

@{
    ViewBag.Title = "Index";
}

<h2>Budget vs Actual for @ViewBag.PeriodName</h2>

@Html.ActionLink("←Previous", "Index", "BudgetVsActual", new { periodId = @ViewBag.Previous }, null)
@Html.ActionLink("Next→", "Index", "BudgetVsActual", new { periodId = @ViewBag.Next }, null)


<table class="table">
    <colgroup>
        <col width="100" />
        <col width="100" />
        <col width="100" />
        <col width="100" />
        
    </colgroup>
    <tr>

        <th>
            Budget  
        </th>
        <th>
            Budget Amt.
        </th>
        <th>
            Actual Amt.
        </th>
        <th>
            % of Budget
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.BudgetName)
        </td>
        <td style="text-align:right">

            @Html.DisplayFor(modelItem => item.BudgetedAmount)
        </td>
        <td style="text-align:right; font-weight:bold">

            @Html.DisplayFor(modelItem => item.ActualAmount)
        </td>
        <td style="text-align:right">
            @Html.DisplayFor(modelItem => item.PercentOfBudget)%
        </td>

    </tr>
}

</table>
