@model IEnumerable<BullshitTracker.Models.ExceptionTransaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountPreTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxRate1.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPreTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxRate1.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
