@model BullshitTracker.Models.MonthlyBudget

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonthlyBudget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget1.BudgetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget1.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
