@model IEnumerable<BullshitTracker.Models.ExceptionTransaction>

<p>
    @Html.ActionLink("Create new exception for this transaction", "Create", "ExeptionTransaction",new {TransactionId = Model.FirstOrDefault().Transaction.Id},null)
</p>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Pretax Amount
        </th>
        <th>
            Category
        </th>
        <th>
            Transaction
        </th>
        <th>
            Tax Rate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPreTax)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Category1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxRate1.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "ExeptionTransaction", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete","ExeptionTransaction", new { id=item.Id },null)
        </td>
    </tr>
}

</table>
