@model IEnumerable<BullshitTracker.Models.Transaction>



<h2>List of Transactions</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <div class="form-group">
            <label class="control-label col-md-2">Filter Vendor:</label>

            <div class="col-md-10">
                @Html.DropDownList("Vendor", String.Empty)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Filter Account:</label>

            <div class="col-md-10">
                @Html.DropDownList("Account", String.Empty)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<style>
    table {
        width: 100%;
        table-layout: fixed;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <colgroup>
        <col width="300" />
        <col width="120" />
        <col width="100" />
        <col width="150" />
        <col width="300" />
        <col width="200" />


    </colgroup>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TransactionDate)*@
            Date
        </th>
        <th style="text-align:right; padding-right:25px">
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            Account
        </th>
        <th>
            Vendor
            @*@Html.DisplayNameFor(model => model.Vendor1.Name)*@

            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Description, "Details", new { id = item.Id })
            @*@Html.DisplayFor(modelItem => item.Description)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate, "{0:dd/MM/yyyy}")
        </td>
        <td align="right" style="font-weight:bold; padding-right:25px">
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Account1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor1.Name) (@Html.DisplayFor(modelItem => item.Vendor1.Category1.Name))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>


    </tr>
}

</table>
